<div class="dialog-container">
    <div class="dialog-header">
        <h2 mat-dialog-title>
            <mat-icon class="header-icon">lock_reset</mat-icon>
            Cambio Contraseña
        </h2>
        <button mat-icon-button mat-dialog-close class="close-button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="dialog-content">
        <form class="user-form" [formGroup]="changePasswordForm">

            <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Contraseña Actual</mat-label>
                    <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="oldPassword"
                        placeholder="Mínimo 8 caracteres">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error class="text-error">{{ getFieldError('oldPassword') }}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="newPassword"
                        placeholder="Mínimo 8 caracteres">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error class="text-error">{{ getFieldError('newPassword') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Repetir Contraseña</mat-label>
                    <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="repeatPassword"
                        placeholder="Mínimo 8 caracteres">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error class="text-error">{{ getFieldError('repeatPassword') }}</mat-error>
                </mat-form-field>
            </div>

            @if (error()) {
            <div class="error-message">
                <mat-icon>error</mat-icon>
                {{ error() }}
            </div>
            }
        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button type="button" class="btn-cancel btn" (click)="onCancel()">
            Cancelar
        </button>
        <button mat-raised-button class="btn btn-primary" type="submit" (click)="onSubmit()"
            [disabled]="changePasswordForm.invalid || isLoading()">
            @if(isLoading()){
            <div class="text-loading">
                <mat-spinner diameter="16" class="spinner"></mat-spinner>
                <div> Cambiando</div>
            </div>
            }@else{
                Cambiar Contraseña
            }
        </button>
        <!-- <button mat-raised-button class="btn btn-primary" type="submit" (click)="onSubmit()"
            [disabled]="createUserForm.invalid || isLoading()">
            @if (isLoading()) {
            <div class="text-loading">
                <mat-spinner diameter="16" class="spinner"></mat-spinner>
                <div> Creando...</div>
            </div>
            } @else {
            @if(user){
            Editar Usuario
            }@else{
            Crear Usuario
            }
            }
        </button> -->
    </mat-dialog-actions>
</div>